
@{
    ViewData["Title"] = "Conceito";
}

<h2 class="text-center"><strong>Conceito</strong></h2>
<p>
    Essa aplicação é responsável pelo estabelecimento do fluxo das compras na empresa.
    Pelo seguimento junto ao fornecedor, e pela agilização da entrega.
    Prazos de entrega não cumpridos podem criar sérias perturbações para os departamentos de produção e vendas,
    mas a aplicação Compras pode reduzir o número de problemas para ambas as áreas, além de adicionar lucros.
</p>
<div class="text-center"><a asp-action="Index" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left"></span></a></div>


