@{
    ViewData["Title"] = "Entrada";
}

<body class="text-center">
    <div class="jumbotron text-center ">
        <h1>Bem-vindo a aplicação Compras!</h1>
        <p><span class="glyphicon glyphicon-star-empty"></span> Toda compra tem uma história <span class="glyphicon glyphicon-star-empty"></span></p>
    </div>
    <a asp-action="Conceito" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right"></span></a>
</body>

