
@{
    ViewData["Title"] = "Conta Bancária";
}

<h2><strong>Conta</strong></h2>
<div class="text-center">
    <a asp-action="NovaConta" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Adicionar Conta</a>
</div>
